n8n/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linebot/headache",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-80, 2760],
      "id": "0504a4bf-0f6e-4aab-8f50-9ed4d241a22f",
      "name": "Webhook",
      "webhookId": "adc81d3b-5694-4b97-8707-700d4e5cecc7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.events[0].type }}",
                    "rightValue": "postback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0083c5d-f530-4533-849f-783924bbd341"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "postback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82a1ba46-2be0-4723-91a3-5fe0a2b1b85e",
                    "leftValue": "={{ $json.body.events[0].type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [280, 2780],
      "id": "ebcb4dd5-8807-48ff-96eb-95803cbcd6e2",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51a9606b-ae3f-474d-973c-d642536d7ce1",
              "name": "message",
              "value": "{   \"type\": \"template\",\n    \"altText\": \"吃了什麼藥\",\n    \"template\": {\n        \"type\": \"buttons\",\n        \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n        \"imageAspectRatio\": \"rectangle\",\n        \"imageSize\": \"cover\",\n        \"title\": \"吃了什麼藥\",\n        \"text\": \"請選擇一種\",\n        \"actions\": [\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了普拿疼\",\n                \"text\": \"吃了普拿疼\",\n                \"data\": \"drug_type=普拿疼\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了伊普\",\n                \"text\": \"吃了伊普\",\n                \"data\": \"drug_type=伊普\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了肌肉鬆弛\",\n                \"text\": \"吃了肌肉鬆弛\",\n                \"data\": \"drug_type=肌肉鬆弛\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了中藥\",\n                \"text\": \"吃了中藥\",\n                \"data\": \"drug_type=中藥\"\n            }\n        ]\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 3500],
      "id": "9065bd52-1037-4870-8b6e-7586fdca0ed2",
      "name": "Set Drug Select"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{{ $json.message }}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4300, 2740],
      "id": "ae5e3a41-a6b4-45e1-957f-16a4a068e412",
      "name": "Response Drug Select"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "吃藥了",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5ee35c6f-84c5-423c-b446-e74bff580492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "吃藥"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f56d3cde-d045-4911-9bd4-948b3f1a843c",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "=頭痛了",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "頭痛"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd2f8573-6285-49af-9a80-800336668265",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "最近吃藥",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "最近吃藥"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "567a697b-8a03-481a-a95f-e861452a717d",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "採取行動",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "採取行動"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7364b61c-c126-4307-926d-8d87d1893d13",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "頭不痛了",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "頭不痛了"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b6b32546-7312-4cd2-bc6e-a99fba0c6fb6",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "最近頭痛",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "最近頭痛時間"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [120, 3780],
      "id": "ad4c377d-3cfa-43ce-9494-55104a8cfd83",
      "name": "Determine Response Action"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.drug_type }}",
                    "rightValue": "drug",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6b24bb20-5d45-4b84-9c6f-574bdc5f5483"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "response drug number"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d29e35-8353-404a-9668-72bcf7c5ea08",
                    "leftValue": "={{ $json.drug_number }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "responses drug datetime"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98088412-70f4-4e62-8e62-282f6dfae893",
                    "leftValue": "={{ $json.drug_datetime }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "medicine now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "86e614e5-f263-4a40-a330-485a85c8277f",
                    "leftValue": "={{ $json.pain_level }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "write pain level"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47044a4e-970c-453a-8d07-9b671652194a",
                    "leftValue": "={{ $json.headache_occur }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "headache now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "caf05b0c-9b01-4aed-bfcd-eefba2c2132c",
                    "leftValue": "={{ $json.headache_occur }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "headache select time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf06cf4f-66be-45c9-8fcb-be1ba4590a6d",
                    "leftValue": "={{ $json.action_occur }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "action occur now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d15ce113-b4cb-4c1a-a15d-99d9e502dad0",
                    "leftValue": "={{ $json.action_occur }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "action select time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1833c35e-dda8-4901-ac5c-6368622db30f",
                    "leftValue": "={{ $json.no_headache_occur }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no headache now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9f4235aa-31bf-4562-acc4-49c7d256d426",
                    "leftValue": "={{ $json.no_headache_occur }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no headache select time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7aa61cad-5c79-4dae-baf5-4f1d365c091d",
                    "leftValue": "={{ $json.headache_where }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "select headache where again"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fc7130a9-d548-4b89-9bfe-0378638c040c",
                    "leftValue": "={{ $json.headache_ask }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "headache ask done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87fee6fa-bdb8-4c63-8836-0155d0e67b67",
                    "leftValue": "={{ $json.drug_datetime }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "medicine selecttime"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1860, 2720],
      "id": "ee89e809-4f25-4a0f-a421-f620a2234dea",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body.events[0].postback.data;\n\n// Use a single regex to capture key-value pairs for both long (--key=value) and short (-k=value) options\nconst regex = /([a-zA-Z0-9_]+)=([^\\s]*)/gu;\n\nlet matches;\nlet drug_type = null;\nlet drug_type_tmp = null;\nlet drug_number = null;\nlet drug_number_tmp = null;\nlet drug_datetime = null;\nlet pain_level = null;\nlet pain_level_tmp = null;\nlet headache_occur = null;\nlet headache_occur_tmp = null;\nlet action_occur = null;\nlet action = null;\nlet no_headache_occur = null;\nlet headache_where = null;\nlet headache_where_final = null;\nlet headache_ask = null;\n\n// Loop through the matches\nwhile ((matches = regex.exec(input)) !== null) {\n    const key = matches[1] || matches[3]; // Get long option name or short key\n    var value = matches[2] || matches[4]; // Get the associated value\n    value = value?.trimEnd()\n    // Assign to the appropriate variable based on the key\n    if (key === 'drug_type') {\n        drug_type = value;\n    } else if (key === 'drug_number') {\n        drug_number = value;\n    } else if (key === 'drug_datetime') {\n      drug_datetime = value;\n    } else if (key === 'drug_type_tmp') {\n      drug_type_tmp = value\n    } else if (key === 'drug_number_tmp') {\n      drug_number_tmp = value\n    } else if (key === 'pain_level') {\n      pain_level = value\n    } else if (key === 'pain_level_tmp') {\n      pain_level_tmp = value\n    } else if (key === 'headache_occur') {\n      headache_occur = value\n    } else if (key === 'headache_occur_tmp') {\n      headache_occur_tmp = value\n    } else if (key === 'action_occur') {\n      action_occur = value\n    } else if (key === 'action') {\n      action = value\n    } else if (key === 'no_headache_occur') {\n      no_headache_occur = value\n    } else if (key === 'headache_where') {\n      headache_where = value\n    } else if (key === 'headache_where_final') {\n      headache_where_final = value\n    } else if (key === 'headache_ask') {\n      headache_ask = value\n    }\n}\n\n// Return the results\nreturn { drug_datetime, drug_number, drug_type, drug_type_tmp, drug_number_tmp, pain_level, headache_occur, headache_occur_tmp, action_occur, action, no_headache_occur, headache_where, headache_where_final, pain_level_tmp, headache_ask };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 2920],
      "id": "23ccc15e-9617-4a72-bee4-651baaa807c5",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51a9606b-ae3f-474d-973c-d642536d7ce1",
              "name": "message",
              "value": "={\n    \"type\": \"template\",\n    \"altText\": \"吃了幾顆\",\n    \"template\": {\n        \"type\": \"buttons\",\n        \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n        \"imageAspectRatio\": \"rectangle\",\n        \"imageSize\": \"cover\",\n        \"title\": \"吃了幾顆藥\",\n        \"text\": \"四小時只能吃一顆!\",\n        \"actions\": [\n            {\n                \"type\": \"postback\",\n                \"label\": \"1\",\n                \"text\": \"吃了1顆\",\n                \"data\": \"drug_number=1 drug_type_tmp={{$json.drug_type}}\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"2\",\n                \"text\": \"吃了2顆\",\n                \"data\": \"drug_number=2 drug_type_tmp={{$json.drug_type}}\"\n            }\n        ]\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2640, 2420],
      "id": "1f27ab67-acc5-43bc-9a6a-0f9804829261",
      "name": "Set Drug Number"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b262a70-2015-4722-9bcc-131f673f88ec",
              "name": "=message",
              "value": "={\n  \"type\": \"template\",\n  \"altText\": \"什麼時候吃藥的?\",\n  \"template\": {\n    \"type\": \"buttons\",\n    \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n    \"title\": \"什麼時候吃的\",\n    \"text\": \"要記錄唷\",\n    \"actions\": [\n      {\n        \"type\": \"postback\",\n        \"label\": \"就是現在吃了\",\n        \"text\": \"就是現在\",\n        \"data\": \"drug_datetime=now drug_type_tmp={{$json.drug_type_tmp}} drug_number_tmp={{$json.drug_number}}\"\n      },\n      {\n        \"type\": \"datetimepicker\",\n        \"label\": \"讓我選時間\",\n        \"data\": \"drug_datetime=selecttime drug_type_tmp={{$json.drug_type_tmp}} drug_number_tmp={{$json.drug_number}}\",\n        \"mode\": \"datetime\",\n        \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n        \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n        \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n      }\n    ]\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 2580],
      "id": "7bc3a12f-9450-41a2-a8b1-0f82a714fa85",
      "name": "Set Drug DateTime"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467ec0f2-bcfa-4dc3-9a7d-f5f708bcad18",
              "name": "drug_type",
              "value": "={{ $('Switch1').item.json.drug_type_tmp }}",
              "type": "string"
            },
            {
              "id": "06d005d7-3e7b-412f-9e51-4b90385b5f9e",
              "name": "drug_number",
              "value": "={{ $('Switch1').item.json.drug_number_tmp }}",
              "type": "string"
            },
            {
              "id": "91bb2ed6-949f-4a0a-a0fc-725d208e0d22",
              "name": "drug_datetime",
              "value": "={{ $json.drug_datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 2740],
      "id": "8f323115-5e2a-44c9-92a9-38c27317a8c2",
      "name": "Set Drug Usage"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"頭痛快飛😭 {{ $json.drug_datetime }} 吃了 {{ $json.drug_number }} {{ $json.drug_type }}\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 2740],
      "id": "d2465d13-d7e0-4a36-af8c-c96367b095e5",
      "name": "Response Success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').first().json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": {{ $json.formattedOutput }}\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 3720],
      "id": "1da58090-2e9f-41d0-921b-b556ffa01f96",
      "name": "Response Success1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1366a377-4f67-4f9f-9304-89d8859906fb",
              "name": "message",
              "value": "={\n  \"type\": \"flex\",\n  \"altText\": \"現在頭有幾分痛\",\n  \"contents\": {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"uri\": \"https://line.me/\"\n        },\n        \"url\": \"https://storage.nekosekai.com/api/v1/buckets/public/objects/download?preview=true&prefix=rate.png&version_id=null\"\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"md\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"頭痛幾分\",\n            \"weight\": \"bold\",\n            \"size\": \"xl\",\n            \"align\": \"center\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"現在幾分痛\",\n            \"size\": \"md\",\n            \"color\": \"#aaaaaa\",\n            \"align\": \"center\"\n          }\n        ]\n      },\n      \"footer\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"1\",\n                  \"text\": \"1 分痛\",\n                  \"data\": \"pain_level=1 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#91D3FA\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"2\",\n                  \"text\": \"2 分痛\",\n                  \"data\": \"pain_level=2 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#76C9F9\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"3\",\n                  \"text\": \"3 分痛\",\n                  \"data\": \"pain_level=3 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#5CBEF7\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"4 分痛\",\n                  \"label\": \"4\",\n                  \"data\": \"pain_level=4 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#41B3F6\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"5 分痛\",\n                  \"label\": \"5\",\n                  \"data\": \"pain_level=5 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#26A9F4\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"6 分痛\",\n                  \"label\": \"6\",\n                  \"data\": \"pain_level=6 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0B9EF3\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"7 分痛\",\n                  \"label\": \"7\",\n                  \"data\": \"pain_level=7 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0A83CA\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"8 分痛\",\n                  \"label\": \"8\",\n                  \"data\": \"pain_level=8 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0869A0\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"9 分痛\",\n                  \"label\": \"9\",\n                  \"data\": \"pain_level=9 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#064E76\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"margin\": \"md\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"超級無敵痛\",\n                  \"label\": \"∞\",\n                  \"data\": \"pain_level=infinite headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#FF4500\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"救救我...\",\n                  \"label\": \"help\",\n                  \"data\": \"pain_level=help\"\n                },\n                \"style\": \"primary\",\n                \"height\": \"sm\",\n                \"color\": \"#FF4500\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2940, 3120],
      "id": "0fbccae6-045b-4798-aaa0-2e8e47eb4bc3",
      "name": "Set Ask Headache Level"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ff0b5c5-cbe4-4411-b947-cb0c743e30ee",
              "name": "pain_level",
              "value": "={{ $json.pain_level }}",
              "type": "string"
            },
            {
              "id": "fb60b723-f225-4590-9bc9-5357c4d39250",
              "name": "headache_occur",
              "value": "={{ $json.headache_occur_tmp }}",
              "type": "string"
            },
            {
              "id": "883b78ac-f64b-4afc-a867-31f79bf9f6cc",
              "name": "existed_headache_where",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 2900],
      "id": "bcfdb024-00a5-49b6-a4b6-ada763c1997e",
      "name": "Set Pain Level"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"在 {{ $json.headache_occur }} 出現了 {{ $json.pain_level }} 級頭痛\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4220, 2380],
      "id": "ea7a8b6a-4e47-443d-ad4b-67cf99dddda1",
      "name": "Response Success2"
    },
    {
      "parameters": {
        "jsCode": "let data = $input.all();\nlet formattedOutput = \"\";\nfor (let i = 0; i < data.length; i++) {\n  const entry = data[i].json;\n  console.log(entry)\n  formattedOutput += `在 ${entry.drug_datetime} 吃了 ${\"💊\".repeat(entry.drug_number)} ${entry.drug_type}`;\n  \n  // Add newline if not the last element\n  if (i < data.length - 1) {\n    formattedOutput += '\\n';\n  }\n}\n\nformattedOutput = JSON.stringify(formattedOutput)\nreturn {formattedOutput}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 3720],
      "id": "db6d57a4-ce4d-422f-b275-90a2b92c9ff5",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bd62c6c-fc23-4108-ad16-74c8366cc27b",
              "name": "message",
              "value": "={\n  \"type\": \"template\",\n  \"altText\": \"什麼時候頭痛的?\",\n  \"template\": {\n    \"type\": \"buttons\",\n    \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n    \"title\": \"什麼時候?\",\n    \"text\": \"選擇頭痛時間\",\n    \"actions\": [\n      {\n        \"type\": \"postback\",\n        \"label\": \"就是現在，痛死\",\n        \"text\": \"就是現在\",\n        \"data\": \"headache_occur=now\"\n      },\n      {\n        \"type\": \"datetimepicker\",\n        \"label\": \"讓我選時間\",\n        \"text\": \"讓我選時間\",\n        \"data\": \"headache_occur=selecttime\",\n        \"mode\": \"datetime\",\n        \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n        \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n        \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n      }\n    ]\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [820, 3640],
      "id": "b30406e8-f7d3-43d0-b434-e68d2ed4fb02",
      "name": "Set Headache When"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e294c37d-c089-43ea-bacd-0e5e4e089bac",
              "name": "headache_occur",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 3220],
      "id": "8bf6637c-5000-400f-9a26-ea94a8779a5b",
      "name": "Set Select Occur Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ceb5e266-ed7d-4da9-84eb-2340ebe85914",
              "name": "headache_occur",
              "value": "={{ $now.format('yyyy-MM-dd') }}T{{ $now.format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 3060],
      "id": "5fbb2753-63fa-4900-ad67-18db48684c1a",
      "name": "Set Now Occur Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88ea8471-364f-42c6-a5ad-5241e9cdc82c",
              "name": "message",
              "value": "={\n  \"type\": \"template\",\n  \"altText\": \"採取什麼行動?\",\n  \"template\": {\n    \"type\": \"carousel\",\n    \"columns\": [\n      {\n        \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpJCsi5pKc3UcEZCovDfqo6dJl2T6rVCe39A&s\",\n        \"title\": \"針灸\",\n        \"text\": \"針灸好痠QQ\",\n        \"actions\": [\n          {\n            \"type\": \"postback\",\n            \"label\": \"現在\",\n            \"text\": \"現在正在針灸QQ\",\n            \"data\": \"action=needle action_occur=now\"\n          },\n          {\n            \"type\": \"datetimepicker\",\n            \"label\": \"選擇時間\",\n            \"data\": \"action=needle action_occur=selecttime\",\n            \"mode\": \"datetime\",\n            \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n             \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n             \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n          }\n        ]\n      },\n      {\n        \"thumbnailImageUrl\": \"https://img.toy-people.com/member/162521222828.png\",\n        \"title\": \"沖熱水\",\n        \"text\": \"沖熱水好舒服~\",\n        \"actions\": [\n          {\n            \"type\": \"postback\",\n            \"label\": \"現在\",\n            \"text\": \"剛沖完熱水\",\n            \"data\": \"action=shower action_occur=now\"\n          },\n          {\n            \"type\": \"datetimepicker\",\n            \"label\": \"選擇時間\",\n            \"data\": \"action=shower action_occur=selecttime\",\n            \"mode\": \"datetime\",\n            \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n            \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n            \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n          }\n        ]\n      },\n      {\n        \"thumbnailImageUrl\": \"https://tw.portal-pokemon.com/play/resources/pokedex/img/pm/25ecd635b6ac9803e574229c886ede9a2f1fbd38.png\",\n        \"title\": \"睡覺\",\n        \"text\": \"Zzzzzzzzz\",\n        \"actions\": [\n          {\n            \"type\": \"postback\",\n            \"label\": \"我現在就要睡\",\n            \"text\": \"倒頭就睡\",\n            \"data\": \"action=sleep action_occur=now\"\n          },\n          {\n            \"type\": \"datetimepicker\",\n            \"label\": \"選擇時間\",\n            \"data\": \"action=sleep action_occur=selecttime\",\n            \"mode\": \"datetime\",\n            \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n            \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n            \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n          }\n        ],\n        \"imageBackgroundColor\": \"#EA8B8B\"\n      }\n    ]\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 3900],
      "id": "1d3f526f-8b6b-4615-85dc-f8b8e8e6260d",
      "name": "Set Action When"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3356d60-de4d-4d63-b680-18661816e4ec",
              "name": "occur_time",
              "value": "={{ $now.format('yyyy-MM-dd') }}T{{ $now.format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 3420],
      "id": "1e15c472-6d5a-4840-abfc-5bb8fdf40654",
      "name": "Set Action Occur Now"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21fa4b2e-a105-4f0c-9356-d1427a6af645",
              "name": "action",
              "value": "={{ $('Switch1').item.json.action }}",
              "type": "string"
            },
            {
              "id": "f0b49273-5745-401b-8c0e-6b69e9352c39",
              "name": "occur_time",
              "value": "={{ $json.occur_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3060, 3560],
      "id": "558d9d3a-0bba-4df2-a93d-0a1cf4362890",
      "name": "Set Action Insertion Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca3258a0-bb80-42d9-9daa-32c4ba210e41",
              "name": "occur_time",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 3640],
      "id": "04db92ad-ca8e-44cd-9ffc-8bc5a525cc56",
      "name": "Set Action Select Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"希望頭痛可以舒緩🥺\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3460, 3560],
      "id": "801776cc-b194-40b3-af29-b6f9cfc14ebc",
      "name": "Response Action"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3294e08-8654-446d-ba62-1a9d27fcdace",
              "name": "message",
              "value": "={\n    \"type\": \"template\",\n    \"altText\": \"什麼時候不痛的?\",\n    \"template\": {\n      \"type\": \"buttons\",\n      \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n      \"title\": \"什麼時候不痛了?\",\n      \"text\": \"恭喜你!\",\n      \"actions\": [\n        {\n          \"type\": \"postback\",\n          \"label\": \"現在不痛了\",\n          \"text\": \"現在不痛了\",\n          \"data\": \"no_headache_occur=now\"\n        },\n        {\n          \"type\": \"datetimepicker\",\n          \"label\": \"選擇時間\",\n          \"data\": \"no_headache_occur=selecttime\",\n          \"mode\": \"datetime\",\n          \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n          \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n          \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n         }\n      ]\n    }\n  }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 4080],
      "id": "e082e672-9993-4de7-8563-18ab57531761",
      "name": "Set No Headache When"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b5e6717-e940-4739-b294-4b41f35be790",
              "name": "no_headache_time",
              "value": "={{$now.format('yyyy-MM-dd')}}T{{ $now.format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 3860],
      "id": "f0b2d66a-3696-47e5-a703-50ff9643ec48",
      "name": "Set No Headache Now"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "887c6e00-e6e0-44a0-92d8-5f293059fd66",
              "name": "headache_occur",
              "value": "={{ $json.no_headache_time }}",
              "type": "string"
            },
            {
              "id": "c1f9b6b1-a41f-4349-ad5f-eed9a0cf2ce6",
              "name": "pain_level",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3040, 3860],
      "id": "b85e873c-761d-4d9c-9233-a835143e8660",
      "name": "Set No Headache Insert Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"恭喜你在 {{ $json.headache_occur }} 頭不痛啦 😊\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3600, 3860],
      "id": "5fc2919a-e04f-40b7-b2fd-ed1b5db9367f",
      "name": "Response Success3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b5e6717-e940-4739-b294-4b41f35be790",
              "name": "no_headache_time",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 4120],
      "id": "1750f561-3ae1-43e9-834b-8ec1ac0bf440",
      "name": "Set No Headache Select Time"
    },
    {
      "parameters": {
        "content": "## Set Pain Level\n",
        "height": 180,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3820, 2340],
      "id": "54b517bd-cd1f-46a1-a0bd-835dba8aff8a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9342c09-16cd-45be-a326-96a0006928a8",
              "name": "message",
              "value": "={\n  \"type\": \"flex\",\n  \"altText\": \"哪裡頭痛\",\n  \"contents\": {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"url\": \"https://storage.nekosekai.com/api/v1/buckets/public/objects/download?preview=true&prefix=ache_part.png&version_id=null\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"uri\": \"https://line.me/\"\n        }\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"md\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"頭痛部位\",\n            \"weight\": \"bold\",\n            \"size\": \"xl\",\n            \"align\": \"center\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"請選擇目前頭痛的部位\",\n            \"size\": \"md\",\n            \"color\": \"#aaaaaa\",\n            \"align\": \"center\"\n          }\n        ]\n      },\n      \"footer\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"左眼窩\",\n                  \"text\": \"左眼窩痛\",\n                  \"data\": \"headache_where=左眼窩;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#5CBEF7\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"右眼窩\",\n                  \"text\": \"右眼窩痛\",\n                  \"data\": \"headache_where=右眼窩;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#5CBEF7\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"左邊太陽穴\",\n                  \"text\": \"左邊太陽穴痛\",\n                  \"data\": \"headache_where=左邊太陽穴;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#41B3F6\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"右邊太陽穴\",\n                  \"text\": \"右邊太陽穴痛\",\n                  \"data\": \"headache_where=右邊太陽穴;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#41B3F6\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"左肩膀\",\n                  \"text\": \"左肩膀痛\",\n                  \"data\": \"headache_where=左肩膀;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0B9EF3\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"右肩膀\",\n                  \"text\": \"右肩膀痛\",\n                  \"data\": \"headache_where=右肩膀;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0B9EF3\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"左頸部\",\n                  \"text\": \"左頸部痛\",\n                  \"data\": \"headache_where=左頸部;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0869A0\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"右頸部\",\n                  \"text\": \"右頸部痛\",\n                  \"data\": \"headache_where=右頸部;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0869A0\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"margin\": \"md\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"沒有其他地方痛了\",\n                  \"label\": \"沒有其他地方痛\",\n                  \"data\": \"headache_ask=done headache_where_final={{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#32CD32\",\n                \"height\": \"sm\",\n                \"adjustMode\": \"shrink-to-fit\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2880, 2900],
      "id": "c95efad4-4fac-4946-accb-1ca560568bb0",
      "name": "Set Ask Headache Where"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a1b1fe6-a7f7-4c3e-b1b9-71c222fa6386",
              "name": "existed_headache_where",
              "value": "={{ $json.headache_where }}",
              "type": "string"
            },
            {
              "id": "c13011f9-18b1-4e46-baeb-45aa57927fcf",
              "name": "pain_level",
              "value": "={{ $json.pain_level_tmp }}",
              "type": "string"
            },
            {
              "id": "0b327f76-b8b6-4f17-b17d-7e78e4bdfe68",
              "name": "headache_occur",
              "value": "={{ $json.headache_occur_tmp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2300, 3320],
      "id": "5e06e4d2-ab9b-4090-9157-d8a3558b037a",
      "name": "Set Existed Headache Where"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4763c5c0-c839-46fb-bfa9-8f5a42150277",
              "name": "headache_where",
              "value": "={{ $json.headache_where_final }}",
              "type": "string"
            },
            {
              "id": "e1ccd62f-a92e-4c14-87a9-f4eea5031e9b",
              "name": "pain_level",
              "value": "={{ $json.pain_level_tmp }}",
              "type": "string"
            },
            {
              "id": "247b6223-91b0-4ff2-b78a-888170388eb8",
              "name": "headache_occur",
              "value": "={{ $json.headache_occur_tmp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2560, 2080],
      "id": "8d41d70d-cfad-49dd-890f-933e966479ec",
      "name": "Set Insert Ask Headache Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t6pwOIMsfRwe7Pge",
          "mode": "list",
          "cachedResultName": "Write Headache Level Data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [3460, 2280],
      "id": "4ad6513d-a4b0-4980-8cb5-b0fb706d6442",
      "name": "Write Headache Level"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S8sAelRpoNS9PhiJ",
          "mode": "list",
          "cachedResultName": "Write Medicine Usage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2880, 2740],
      "id": "54ce9a47-d9da-49f3-a61b-6f81ad46d28b",
      "name": "Write Medicine Usage"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t6pwOIMsfRwe7Pge",
          "mode": "list",
          "cachedResultName": "Write Headache Level Data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [3260, 3860],
      "id": "bb031f3f-c47b-40f5-9258-bf233e032e2a",
      "name": "write no headache"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bsww9kAb8DtrMO3f",
          "mode": "list",
          "cachedResultName": "List Latest Medicine Usage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [860, 3780],
      "id": "1ac217d3-28ff-41ce-a48f-89f3d83ccf97",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Aasdx41TvcrQ5Ca0",
          "mode": "list",
          "cachedResultName": "Write Action"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [3280, 3560],
      "id": "6042162a-8e77-4086-aae6-8444610a0abe",
      "name": "Write Action"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8dUOTyssWp1wjWUE",
          "mode": "list",
          "cachedResultName": "List Latest Headache"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [680, 4320],
      "id": "7f3f977a-9eca-4522-a833-8c58305a6ebb",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "jsCode": "let data = $input.all();\nlet formattedOutput = \"最近頭痛紀錄📝\\n\";\nfor (let i = 0; i < data.length; i++) {\n  const entry = data[i].json;\n  console.log(entry)\n  formattedOutput += `在 ${entry.headache_occur} 發生了 ${entry.pain_level} 級頭痛❗`;\n\n  if(entry.headache_where != null)\n  {\n    formattedOutput += `\\n頭痛部位包含${entry.headache_where.replace(/;$/, '')}`\n  }\n  \n  // Add newline if not the last element\n  if (i < data.length - 1) {\n    formattedOutput += '\\n';\n  }\n}\n\nformattedOutput = JSON.stringify(formattedOutput)\nreturn {formattedOutput}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 4260],
      "id": "775b62fb-d9a4-4065-bb1b-74f5d9c50a65",
      "name": "Code2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44b785b6-7f6a-4851-9d6d-08f317b8f9e4",
              "name": "drug_datetime",
              "value": "={{ $now.format('yyyy-MM-dd') }}T{{ $now.format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2320, 2740],
      "id": "fff66180-307d-4258-839e-03ed88cd8746",
      "name": "Set Medicine Now"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "426cd249-9660-4ed4-bd7d-28c7d56d8519",
              "name": "drug_datetime",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2340, 2940],
      "id": "b22f48b5-48d4-4c8b-a3e3-77c54bede0c7",
      "name": "Set Medicine SelectTime"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Determine Response Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug Select": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Response Action": {
      "main": [
        [
          {
            "node": "Set Drug Select",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Headache When",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Action When",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Headache When",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set Drug Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Drug DateTime",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Medicine Now",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Pain Level",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Now Occur Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Select Occur Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Action Occur Now",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Action Select Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Headache Now",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Headache Select Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Existed Headache Where",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Insert Ask Headache Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Medicine SelectTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug Number": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug DateTime": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug Usage": {
      "main": [
        [
          {
            "node": "Write Medicine Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ask Headache Level": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pain Level": {
      "main": [
        [
          {
            "node": "Set Ask Headache Where",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Response Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Headache When": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Select Occur Time": {
      "main": [
        [
          {
            "node": "Set Ask Headache Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Now Occur Time": {
      "main": [
        [
          {
            "node": "Set Ask Headache Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action When": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action Occur Now": {
      "main": [
        [
          {
            "node": "Set Action Insertion Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action Insertion Data": {
      "main": [
        [
          {
            "node": "Write Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action Select Time": {
      "main": [
        [
          {
            "node": "Set Action Insertion Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache When": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache Now": {
      "main": [
        [
          {
            "node": "Set No Headache Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache Insert Data": {
      "main": [
        [
          {
            "node": "write no headache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache Select Time": {
      "main": [
        [
          {
            "node": "Set No Headache Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ask Headache Where": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Existed Headache Where": {
      "main": [
        [
          {
            "node": "Set Ask Headache Where",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Insert Ask Headache Data": {
      "main": [
        [
          {
            "node": "Write Headache Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Headache Level": {
      "main": [
        [
          {
            "node": "Response Success2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Medicine Usage": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write no headache": {
      "main": [
        [
          {
            "node": "Response Success3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Action": {
      "main": [
        [
          {
            "node": "Response Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Response Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Medicine Now": {
      "main": [
        [
          {
            "node": "Set Drug Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Medicine SelectTime": {
      "main": [
        [
          {
            "node": "Set Drug Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "7474d84d2b834c864715cc1139cc946616c2310c4f45afb5a0945ca7fc78e0d9"
  }
}
