n8n/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linebot/headache",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        1940
      ],
      "id": "114a2141-0b89-4682-9eee-a73e3969252a",
      "name": "Webhook",
      "webhookId": "adc81d3b-5694-4b97-8707-700d4e5cecc7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.events[0].type }}",
                    "rightValue": "postback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0083c5d-f530-4533-849f-783924bbd341"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "postback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82a1ba46-2be0-4723-91a3-5fe0a2b1b85e",
                    "leftValue": "={{ $json.body.events[0].type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        1960
      ],
      "id": "201a2c28-5fd7-466a-ac60-e66c2f9aefc1",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51a9606b-ae3f-474d-973c-d642536d7ce1",
              "name": "message",
              "value": "{   \"type\": \"template\",\n    \"altText\": \"吃了什麼藥\",\n    \"template\": {\n        \"type\": \"buttons\",\n        \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n        \"imageAspectRatio\": \"rectangle\",\n        \"imageSize\": \"cover\",\n        \"title\": \"吃了什麼藥\",\n        \"text\": \"請選擇一種\",\n        \"actions\": [\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了普拿疼\",\n                \"text\": \"吃了普拿疼\",\n                \"data\": \"drug_type=普拿疼\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了伊普\",\n                \"text\": \"吃了伊普\",\n                \"data\": \"drug_type=伊普\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了肌肉鬆弛\",\n                \"text\": \"吃了肌肉鬆弛\",\n                \"data\": \"drug_type=肌肉鬆弛\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了中藥\",\n                \"text\": \"吃了中藥\",\n                \"data\": \"drug_type=中藥\"\n            }\n        ]\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        2680
      ],
      "id": "6c492fd7-fba3-4cfe-8bdc-6cd086a306da",
      "name": "Set Drug Select"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{{ $json.message }}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        1920
      ],
      "id": "669595ab-3b38-4ccc-85ac-9ba5c552699e",
      "name": "Response Drug Select"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "吃藥了",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5ee35c6f-84c5-423c-b446-e74bff580492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "吃藥"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f56d3cde-d045-4911-9bd4-948b3f1a843c",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "=頭痛了",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "頭痛"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd2f8573-6285-49af-9a80-800336668265",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "最近吃藥",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "最近吃藥"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "567a697b-8a03-481a-a95f-e861452a717d",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "採取行動",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "採取行動"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7364b61c-c126-4307-926d-8d87d1893d13",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "頭不痛了",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "頭不痛了"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b6b32546-7312-4cd2-bc6e-a99fba0c6fb6",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "最近頭痛",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "最近頭痛時間"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        40,
        2960
      ],
      "id": "891abb6c-5dc1-4ce5-b7b1-9fe9a09ecb56",
      "name": "Determine Response Action"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.drug_type }}",
                    "rightValue": "drug",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6b24bb20-5d45-4b84-9c6f-574bdc5f5483"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "response drug number"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d29e35-8353-404a-9668-72bcf7c5ea08",
                    "leftValue": "={{ $json.drug_number }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "responses drug datetime"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98088412-70f4-4e62-8e62-282f6dfae893",
                    "leftValue": "={{ $json.drug_datetime }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "write drug record"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "86e614e5-f263-4a40-a330-485a85c8277f",
                    "leftValue": "={{ $json.pain_level }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "write pain level"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47044a4e-970c-453a-8d07-9b671652194a",
                    "leftValue": "={{ $json.headache_occur }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "headache now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "caf05b0c-9b01-4aed-bfcd-eefba2c2132c",
                    "leftValue": "={{ $json.headache_occur }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "headache select time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf06cf4f-66be-45c9-8fcb-be1ba4590a6d",
                    "leftValue": "={{ $json.action_occur }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "action occur now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d15ce113-b4cb-4c1a-a15d-99d9e502dad0",
                    "leftValue": "={{ $json.action_occur }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "action select time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1833c35e-dda8-4901-ac5c-6368622db30f",
                    "leftValue": "={{ $json.no_headache_occur }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no headache now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9f4235aa-31bf-4562-acc4-49c7d256d426",
                    "leftValue": "={{ $json.no_headache_occur }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no headache select time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7aa61cad-5c79-4dae-baf5-4f1d365c091d",
                    "leftValue": "={{ $json.headache_where }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "select headache where again"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fc7130a9-d548-4b89-9bfe-0378638c040c",
                    "leftValue": "={{ $json.headache_ask }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "headache ask done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1780,
        1900
      ],
      "id": "9b38aaa1-f7e5-4c66-bb30-3074b143d399",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body.events[0].postback.data;\n\n// Use a single regex to capture key-value pairs for both long (--key=value) and short (-k=value) options\nconst regex = /([a-zA-Z0-9_]+)=([^\\s]*)/gu;\n\nlet matches;\nlet drug_type = null;\nlet drug_type_tmp = null;\nlet drug_number = null;\nlet drug_number_tmp = null;\nlet drug_datetime = null;\nlet pain_level = null;\nlet pain_level_tmp = null;\nlet headache_occur = null;\nlet headache_occur_tmp = null;\nlet action_occur = null;\nlet action = null;\nlet no_headache_occur = null;\nlet headache_where = null;\nlet headache_where_final = null;\nlet headache_ask = null;\n\n// Loop through the matches\nwhile ((matches = regex.exec(input)) !== null) {\n    const key = matches[1] || matches[3]; // Get long option name or short key\n    var value = matches[2] || matches[4]; // Get the associated value\n    value = value?.trimEnd()\n    // Assign to the appropriate variable based on the key\n    if (key === 'drug_type') {\n        drug_type = value;\n    } else if (key === 'drug_number') {\n        drug_number = value;\n    } else if (key === 'drug_datetime') {\n      drug_datetime = value;\n    } else if (key === 'drug_type_tmp') {\n      drug_type_tmp = value\n    } else if (key === 'drug_number_tmp') {\n      drug_number_tmp = value\n    } else if (key === 'pain_level') {\n      pain_level = value\n    } else if (key === 'pain_level_tmp') {\n      pain_level_tmp = value\n    } else if (key === 'headache_occur') {\n      headache_occur = value\n    } else if (key === 'headache_occur_tmp') {\n      headache_occur_tmp = value\n    } else if (key === 'action_occur') {\n      action_occur = value\n    } else if (key === 'action') {\n      action = value\n    } else if (key === 'no_headache_occur') {\n      no_headache_occur = value\n    } else if (key === 'headache_where') {\n      headache_where = value\n    } else if (key === 'headache_where_final') {\n      headache_where_final = value\n    } else if (key === 'headache_ask') {\n      headache_ask = value\n    }\n}\n\n// Return the results\nreturn { drug_datetime, drug_number, drug_type, drug_type_tmp, drug_number_tmp, pain_level, headache_occur, headache_occur_tmp, action_occur, action, no_headache_occur, headache_where, headache_where_final, pain_level_tmp, headache_ask };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        2100
      ],
      "id": "fefae6d1-761b-49b6-b8ef-0e295c0cd7f6",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51a9606b-ae3f-474d-973c-d642536d7ce1",
              "name": "message",
              "value": "={\n    \"type\": \"template\",\n    \"altText\": \"吃了幾顆\",\n    \"template\": {\n        \"type\": \"buttons\",\n        \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n        \"imageAspectRatio\": \"rectangle\",\n        \"imageSize\": \"cover\",\n        \"title\": \"吃了幾顆藥\",\n        \"text\": \"四小時只能吃一顆!\",\n        \"actions\": [\n            {\n                \"type\": \"postback\",\n                \"label\": \"1\",\n                \"text\": \"吃了1顆\",\n                \"data\": \"drug_number=1 drug_type_tmp={{$json.drug_type}}\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"2\",\n                \"text\": \"吃了2顆\",\n                \"data\": \"drug_number=2 drug_type_tmp={{$json.drug_type}}\"\n            }\n        ]\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        1600
      ],
      "id": "fcfde680-3fca-4c2c-b6af-3d21b6afcf6a",
      "name": "Set Drug Number"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b262a70-2015-4722-9bcc-131f673f88ec",
              "name": "=message",
              "value": "={\n  \"type\": \"template\",\n  \"altText\": \"什麼時候吃藥的?\",\n  \"template\": {\n    \"type\": \"buttons\",\n    \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n    \"title\": \"什麼時候吃的\",\n    \"text\": \"要記錄唷\",\n    \"actions\": [\n      {\n        \"type\": \"datetimepicker\",\n        \"label\": \"吃的時間\",\n        \"text\": \"已好好記錄時間OuO\",\n        \"data\": \"drug_datetime=true drug_type_tmp={{$json.drug_type_tmp}} drug_number_tmp={{$json.drug_number}}\",\n        \"mode\": \"datetime\",\n        \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n        \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n        \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n      }\n    ]\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        1760
      ],
      "id": "884003cf-7fae-4218-aa1b-58ac4078f3f7",
      "name": "Set Drug DateTime"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467ec0f2-bcfa-4dc3-9a7d-f5f708bcad18",
              "name": "drug_type",
              "value": "={{ $json.drug_type_tmp }}",
              "type": "string"
            },
            {
              "id": "06d005d7-3e7b-412f-9e51-4b90385b5f9e",
              "name": "drug_number",
              "value": "={{ $json.drug_number_tmp }}",
              "type": "string"
            },
            {
              "id": "91bb2ed6-949f-4a0a-a0fc-725d208e0d22",
              "name": "drug_datetime",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime.toDateTime().format('yyyy-MM-ddT') }}T{{ $('Webhook').item.json.body.events[0].postback.params.datetime.toDateTime().format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        1920
      ],
      "id": "f40694a9-dd04-4338-a386-aa8da50a54dc",
      "name": "Set Drug Usage"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"頭痛快飛😭 {{ $json.drug_datetime }} 吃了 {{ $json.drug_number }} {{ $json.drug_type }}\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        1920
      ],
      "id": "861e5903-ac9e-4a90-9a85-de81d6267511",
      "name": "Response Success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').first().json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": {{ $json.formattedOutput }}\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        2900
      ],
      "id": "f63dd03c-33c1-4aac-96bb-8b68e9d2ed3a",
      "name": "Response Success1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1366a377-4f67-4f9f-9304-89d8859906fb",
              "name": "message",
              "value": "={\n  \"type\": \"flex\",\n  \"altText\": \"現在頭有幾分痛\",\n  \"contents\": {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"uri\": \"https://line.me/\"\n        },\n        \"url\": \"https://image1.gamme.com.tw/news2/2016/16/30/qZqYnaadkZ_brKQ.jpg\"\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"md\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"頭痛幾分\",\n            \"weight\": \"bold\",\n            \"size\": \"xl\",\n            \"align\": \"center\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"現在幾分痛\",\n            \"size\": \"md\",\n            \"color\": \"#aaaaaa\",\n            \"align\": \"center\"\n          }\n        ]\n      },\n      \"footer\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"1\",\n                  \"text\": \"1 分痛\",\n                  \"data\": \"pain_level=1 headache_occur_tmp={{$json.occur_time}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#91D3FA\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"2\",\n                  \"text\": \"2 分痛\",\n                  \"data\": \"pain_level=2 headache_occur_tmp={{$json.occur_time}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#76C9F9\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"3\",\n                  \"text\": \"3 分痛\",\n                  \"data\": \"pain_level=3 headache_occur_tmp={{$json.occur_time}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#5CBEF7\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"4 分痛\",\n                  \"label\": \"4\",\n                  \"data\": \"pain_level=4 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#41B3F6\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"5 分痛\",\n                  \"label\": \"5\",\n                  \"data\": \"pain_level=5 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#26A9F4\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"6 分痛\",\n                  \"label\": \"6\",\n                  \"data\": \"pain_level=6 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0B9EF3\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"7 分痛\",\n                  \"label\": \"7\",\n                  \"data\": \"pain_level=7 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0A83CA\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"8 分痛\",\n                  \"label\": \"8\",\n                  \"data\": \"pain_level=8 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0869A0\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"9 分痛\",\n                  \"label\": \"9\",\n                  \"data\": \"pain_level=9 headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#064E76\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"margin\": \"md\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"超級無敵痛\",\n                  \"label\": \"∞\",\n                  \"data\": \"pain_level=infinite headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#FF4500\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"救救我...\",\n                  \"label\": \"help\",\n                  \"data\": \"pain_level=help\"\n                },\n                \"style\": \"primary\",\n                \"height\": \"sm\",\n                \"color\": \"#FF4500\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        2300
      ],
      "id": "76a80dd4-17e3-4484-82e7-1b663de8736a",
      "name": "Set Ask Headache Level"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ff0b5c5-cbe4-4411-b947-cb0c743e30ee",
              "name": "pain_level",
              "value": "={{ $json.pain_level }}",
              "type": "string"
            },
            {
              "id": "fb60b723-f225-4590-9bc9-5357c4d39250",
              "name": "headache_occur",
              "value": "={{ $json.headache_occur_tmp }}",
              "type": "string"
            },
            {
              "id": "883b78ac-f64b-4afc-a867-31f79bf9f6cc",
              "name": "existed_headache_where",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        2080
      ],
      "id": "f9156c93-a560-412c-9891-e11960111d28",
      "name": "Set Pain Level"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"在 {{ $json.headache_occur }} 出現了 {{ $json.pain_level }} 級頭痛\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        1560
      ],
      "id": "cf49ccfd-9732-414a-a4ed-9ed686321712",
      "name": "Response Success2"
    },
    {
      "parameters": {
        "jsCode": "let data = $input.all();\nlet formattedOutput = \"\";\nfor (let i = 0; i < data.length; i++) {\n  const entry = data[i].json;\n  console.log(entry)\n  formattedOutput += `在 ${entry.drug_datetime} 吃了 ${\"💊\".repeat(entry.drug_number)} ${entry.drug_type}`;\n  \n  // Add newline if not the last element\n  if (i < data.length - 1) {\n    formattedOutput += '\\n';\n  }\n}\n\nformattedOutput = JSON.stringify(formattedOutput)\nreturn {formattedOutput}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        2900
      ],
      "id": "37ea2e30-4516-4e0e-8bf6-38352d76c676",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bd62c6c-fc23-4108-ad16-74c8366cc27b",
              "name": "message",
              "value": "={\n  \"type\": \"template\",\n  \"altText\": \"什麼時候頭痛的?\",\n  \"template\": {\n    \"type\": \"buttons\",\n    \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n    \"title\": \"什麼時候?\",\n    \"text\": \"選擇頭痛時間\",\n    \"actions\": [\n      {\n        \"type\": \"postback\",\n        \"label\": \"就是現在，痛死\",\n        \"text\": \"就是現在\",\n        \"data\": \"headache_occur=now\"\n      },\n      {\n        \"type\": \"datetimepicker\",\n        \"label\": \"讓我選時間\",\n        \"text\": \"讓我選時間\",\n        \"data\": \"headache_occur=selecttime\",\n        \"mode\": \"datetime\",\n        \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n        \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n        \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n      }\n    ]\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        2820
      ],
      "id": "6742b856-516f-447a-b9e7-35f0ba7e4df3",
      "name": "Set Headache When"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e294c37d-c089-43ea-bacd-0e5e4e089bac",
              "name": "headache_occur",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        2400
      ],
      "id": "6dc9dbc4-31fb-4e43-833e-692932fa9599",
      "name": "Set Select Occur Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ceb5e266-ed7d-4da9-84eb-2340ebe85914",
              "name": "headache_occur",
              "value": "={{ $now.format('yyyy-MM-dd') }}T{{ $now.format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        2240
      ],
      "id": "2802edce-fe80-41be-951d-725a5547b9c1",
      "name": "Set Now Occur Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88ea8471-364f-42c6-a5ad-5241e9cdc82c",
              "name": "message",
              "value": "={\n  \"type\": \"template\",\n  \"altText\": \"採取什麼行動?\",\n  \"template\": {\n    \"type\": \"carousel\",\n    \"columns\": [\n      {\n        \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpJCsi5pKc3UcEZCovDfqo6dJl2T6rVCe39A&s\",\n        \"title\": \"針灸\",\n        \"text\": \"針灸好痠QQ\",\n        \"actions\": [\n          {\n            \"type\": \"postback\",\n            \"label\": \"現在\",\n            \"text\": \"現在正在針灸QQ\",\n            \"data\": \"action=needle action_occur=now\"\n          },\n          {\n            \"type\": \"datetimepicker\",\n            \"label\": \"選擇時間\",\n            \"data\": \"action=needle action_occur=selecttime\",\n            \"mode\": \"datetime\",\n            \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n             \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n             \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n          }\n        ]\n      },\n      {\n        \"thumbnailImageUrl\": \"https://img.toy-people.com/member/162521222828.png\",\n        \"title\": \"沖熱水\",\n        \"text\": \"沖熱水好舒服~\",\n        \"actions\": [\n          {\n            \"type\": \"postback\",\n            \"label\": \"現在\",\n            \"text\": \"剛沖完熱水\",\n            \"data\": \"action=shower action_occur=now\"\n          },\n          {\n            \"type\": \"datetimepicker\",\n            \"label\": \"選擇時間\",\n            \"data\": \"action=shower action_occur=selecttime\",\n            \"mode\": \"datetime\",\n            \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n            \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n            \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n          }\n        ]\n      },\n      {\n        \"thumbnailImageUrl\": \"https://tw.portal-pokemon.com/play/resources/pokedex/img/pm/25ecd635b6ac9803e574229c886ede9a2f1fbd38.png\",\n        \"title\": \"睡覺\",\n        \"text\": \"Zzzzzzzzz\",\n        \"actions\": [\n          {\n            \"type\": \"postback\",\n            \"label\": \"我現在就要睡\",\n            \"text\": \"倒頭就睡\",\n            \"data\": \"action=sleep action_occur=now\"\n          },\n          {\n            \"type\": \"datetimepicker\",\n            \"label\": \"選擇時間\",\n            \"data\": \"action=sleep action_occur=selecttime\",\n            \"mode\": \"datetime\",\n            \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n            \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n            \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n          }\n        ],\n        \"imageBackgroundColor\": \"#EA8B8B\"\n      }\n    ]\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        3080
      ],
      "id": "6580af02-8a48-4965-a645-4ebd0d9e84d1",
      "name": "Set Action When"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3356d60-de4d-4d63-b680-18661816e4ec",
              "name": "occur_time",
              "value": "={{ $now.format('yyyy-MM-dd') }}T{{ $now.format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        2600
      ],
      "id": "b9a6bda3-c2a3-41e4-adad-629d3ce54168",
      "name": "Set Action Occur Now"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21fa4b2e-a105-4f0c-9356-d1427a6af645",
              "name": "action",
              "value": "={{ $('Switch1').item.json.action }}",
              "type": "string"
            },
            {
              "id": "f0b49273-5745-401b-8c0e-6b69e9352c39",
              "name": "occur_time",
              "value": "={{ $json.occur_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2760,
        2740
      ],
      "id": "db45eac0-1ded-4416-867a-cd9cd6577d8c",
      "name": "Set Action Insertion Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca3258a0-bb80-42d9-9daa-32c4ba210e41",
              "name": "occur_time",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        2820
      ],
      "id": "f1986959-c186-45d2-8eb5-1575f757d5b8",
      "name": "Set Action Select Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"希望頭痛可以舒緩🥺\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3160,
        2740
      ],
      "id": "df735222-a6ce-44ff-b867-c5220873376f",
      "name": "Response Action"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3294e08-8654-446d-ba62-1a9d27fcdace",
              "name": "message",
              "value": "={\n    \"type\": \"template\",\n    \"altText\": \"什麼時候不痛的?\",\n    \"template\": {\n      \"type\": \"buttons\",\n      \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n      \"title\": \"什麼時候不痛了?\",\n      \"text\": \"恭喜你!\",\n      \"actions\": [\n        {\n          \"type\": \"postback\",\n          \"label\": \"現在不痛了\",\n          \"text\": \"現在不痛了\",\n          \"data\": \"no_headache_occur=now\"\n        },\n        {\n          \"type\": \"datetimepicker\",\n          \"label\": \"選擇時間\",\n          \"data\": \"no_headache_occur=selecttime\",\n          \"mode\": \"datetime\",\n          \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n          \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n          \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n         }\n      ]\n    }\n  }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        3260
      ],
      "id": "b7977ec1-dfb8-413a-812e-4d15ada904a6",
      "name": "Set No Headache When"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b5e6717-e940-4739-b294-4b41f35be790",
              "name": "no_headache_time",
              "value": "={{$now.format('yyyy-MM-dd')}}T{{ $now.format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        3040
      ],
      "id": "925304a8-d750-406f-af56-ba33be4b84e6",
      "name": "Set No Headache Now"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "887c6e00-e6e0-44a0-92d8-5f293059fd66",
              "name": "headache_occur",
              "value": "={{ $json.no_headache_time }}",
              "type": "string"
            },
            {
              "id": "c1f9b6b1-a41f-4349-ad5f-eed9a0cf2ce6",
              "name": "pain_level",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2740,
        3040
      ],
      "id": "226df04a-3920-43ef-be39-86217babf924",
      "name": "Set No Headache Insert Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"恭喜你在 {{ $json.headache_occur }} 頭不痛啦 😊\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        3040
      ],
      "id": "df8b5bc6-c31f-4861-bb5d-4e3c4db7614f",
      "name": "Response Success3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b5e6717-e940-4739-b294-4b41f35be790",
              "name": "no_headache_time",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        3300
      ],
      "id": "0b56eb94-ee1c-4a43-9d81-265930dcce7f",
      "name": "Set No Headache Select Time"
    },
    {
      "parameters": {
        "content": "## Set Pain Level\n",
        "height": 180,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3740,
        1520
      ],
      "id": "8e17f652-b9e3-4745-8ec7-119af04c98bd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9342c09-16cd-45be-a326-96a0006928a8",
              "name": "message",
              "value": "={\n  \"type\": \"flex\",\n  \"altText\": \"哪裡頭痛\",\n  \"contents\": {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"url\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdFop3Bho98bzeRdk-zS0YQhh1g6HDgM-05A&s\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"uri\": \"https://line.me/\"\n        }\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"md\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"頭痛部位\",\n            \"weight\": \"bold\",\n            \"size\": \"xl\",\n            \"align\": \"center\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"請選擇目前頭痛的部位\",\n            \"size\": \"md\",\n            \"color\": \"#aaaaaa\",\n            \"align\": \"center\"\n          }\n        ]\n      },\n      \"footer\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"左眼窩\",\n                  \"text\": \"左眼窩痛\",\n                  \"data\": \"headache_where=左眼窩;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#5CBEF7\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"右眼窩\",\n                  \"text\": \"右眼窩痛\",\n                  \"data\": \"headache_where=右眼窩;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#5CBEF7\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"左邊太陽穴\",\n                  \"text\": \"左邊太陽穴痛\",\n                  \"data\": \"headache_where=左邊太陽穴;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#41B3F6\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"右邊太陽穴\",\n                  \"text\": \"右邊太陽穴痛\",\n                  \"data\": \"headache_where=右邊太陽穴;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#41B3F6\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"左肩膀\",\n                  \"text\": \"左肩膀痛\",\n                  \"data\": \"headache_where=左肩膀;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0B9EF3\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"右肩膀\",\n                  \"text\": \"右肩膀痛\",\n                  \"data\": \"headache_where=右肩膀;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0B9EF3\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"左頸部\",\n                  \"text\": \"左頸部痛\",\n                  \"data\": \"headache_where=左頸部;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0869A0\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"右頸部\",\n                  \"text\": \"右頸部痛\",\n                  \"data\": \"headache_where=右頸部;{{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0869A0\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"margin\": \"md\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"text\": \"沒有其他地方痛了\",\n                  \"label\": \"沒有其他地方痛\",\n                  \"data\": \"headache_ask=done headache_where_final={{$json.existed_headache_where}} pain_level_tmp={{$json.pain_level}} headache_occur_tmp={{$json.headache_occur}}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#32CD32\",\n                \"height\": \"sm\",\n                \"adjustMode\": \"shrink-to-fit\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2580,
        2080
      ],
      "id": "f6fbfdda-d9db-45fe-96f3-0240cb57965c",
      "name": "Set Ask Headache Where"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a1b1fe6-a7f7-4c3e-b1b9-71c222fa6386",
              "name": "existed_headache_where",
              "value": "={{ $json.headache_where }}",
              "type": "string"
            },
            {
              "id": "c13011f9-18b1-4e46-baeb-45aa57927fcf",
              "name": "pain_level",
              "value": "={{ $json.pain_level_tmp }}",
              "type": "string"
            },
            {
              "id": "0b327f76-b8b6-4f17-b17d-7e78e4bdfe68",
              "name": "headache_occur",
              "value": "={{ $json.headache_occur_tmp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        2500
      ],
      "id": "496bf128-c776-458f-bbc4-13559b79a1d5",
      "name": "Set Existed Headache Where"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4763c5c0-c839-46fb-bfa9-8f5a42150277",
              "name": "headache_where",
              "value": "={{ $json.headache_where_final }}",
              "type": "string"
            },
            {
              "id": "e1ccd62f-a92e-4c14-87a9-f4eea5031e9b",
              "name": "pain_level",
              "value": "={{ $json.pain_level_tmp }}",
              "type": "string"
            },
            {
              "id": "247b6223-91b0-4ff2-b78a-888170388eb8",
              "name": "headache_occur",
              "value": "={{ $json.headache_occur_tmp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2260,
        1260
      ],
      "id": "9db10b5e-80b7-4e92-8c22-872117b7b492",
      "name": "Set Insert Ask Headache Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t6pwOIMsfRwe7Pge",
          "mode": "list",
          "cachedResultName": "Write Headache Level Data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3160,
        1460
      ],
      "id": "abd5dd42-eac5-42fd-8c05-3b6f616ce1a0",
      "name": "Write Headache Level"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S8sAelRpoNS9PhiJ",
          "mode": "list",
          "cachedResultName": "Write Medicine Usage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2580,
        1920
      ],
      "id": "edb3ed81-edae-4c1f-8ab3-cb9b6ed9b784",
      "name": "Write Medicine Usage"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t6pwOIMsfRwe7Pge",
          "mode": "list",
          "cachedResultName": "Write Headache Level Data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2960,
        3040
      ],
      "id": "7c1f2ad7-468a-44d2-b3b1-3b3e38234a4e",
      "name": "write no headache"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bsww9kAb8DtrMO3f",
          "mode": "list",
          "cachedResultName": "List Latest Medicine Usage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        780,
        2960
      ],
      "id": "a4212859-d223-499d-abbf-c2048addd24b",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Aasdx41TvcrQ5Ca0",
          "mode": "list",
          "cachedResultName": "Write Action"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2980,
        2740
      ],
      "id": "6645bd40-8c83-4752-a471-8b4632e00006",
      "name": "Write Action"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8dUOTyssWp1wjWUE",
          "mode": "list",
          "cachedResultName": "List Latest Headache"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        3500
      ],
      "id": "622beece-fd19-4b86-af9a-c94a79f6646e",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "jsCode": "let data = $input.all();\nlet formattedOutput = \"最近頭痛紀錄📝\\n\";\nfor (let i = 0; i < data.length; i++) {\n  const entry = data[i].json;\n  console.log(entry)\n  formattedOutput += `在 ${entry.headache_occur} 發生了 ${entry.pain_level} 級頭痛❗`;\n\n  if(entry.headache_where != null)\n  {\n    formattedOutput += `\\n頭痛部位包含${entry.headache_where.replace(/;$/, '')}`\n  }\n  \n  // Add newline if not the last element\n  if (i < data.length - 1) {\n    formattedOutput += '\\n';\n  }\n}\n\nformattedOutput = JSON.stringify(formattedOutput)\nreturn {formattedOutput}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        3440
      ],
      "id": "a3206e14-cb7e-4246-92c5-b4b01340b215",
      "name": "Code2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Determine Response Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug Select": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Response Action": {
      "main": [
        [
          {
            "node": "Set Drug Select",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Headache When",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Action When",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Headache When",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set Drug Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Drug DateTime",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Drug Usage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Pain Level",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Now Occur Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Select Occur Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Action Occur Now",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Action Select Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Headache Now",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Headache Select Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Existed Headache Where",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Insert Ask Headache Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug Number": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug DateTime": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug Usage": {
      "main": [
        [
          {
            "node": "Write Medicine Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ask Headache Level": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pain Level": {
      "main": [
        [
          {
            "node": "Set Ask Headache Where",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Response Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Headache When": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Select Occur Time": {
      "main": [
        [
          {
            "node": "Set Ask Headache Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Now Occur Time": {
      "main": [
        [
          {
            "node": "Set Ask Headache Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action When": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action Occur Now": {
      "main": [
        [
          {
            "node": "Set Action Insertion Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action Insertion Data": {
      "main": [
        [
          {
            "node": "Write Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action Select Time": {
      "main": [
        [
          {
            "node": "Set Action Insertion Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache When": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache Now": {
      "main": [
        [
          {
            "node": "Set No Headache Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache Insert Data": {
      "main": [
        [
          {
            "node": "write no headache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache Select Time": {
      "main": [
        [
          {
            "node": "Set No Headache Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ask Headache Where": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Existed Headache Where": {
      "main": [
        [
          {
            "node": "Set Ask Headache Where",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Insert Ask Headache Data": {
      "main": [
        [
          {
            "node": "Write Headache Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Headache Level": {
      "main": [
        [
          {
            "node": "Response Success2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Medicine Usage": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write no headache": {
      "main": [
        [
          {
            "node": "Response Success3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Action": {
      "main": [
        [
          {
            "node": "Response Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Response Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "7474d84d2b834c864715cc1139cc946616c2310c4f45afb5a0945ca7fc78e0d9"
  }
}