n8n/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linebot/headache",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        -40
      ],
      "id": "58845eec-6361-4b48-8152-651a475ce30e",
      "name": "Webhook",
      "webhookId": "c6350716-2048-4591-a918-2f7fe74ef7a3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.events[0].type }}",
                    "rightValue": "postback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0083c5d-f530-4533-849f-783924bbd341"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "postback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82a1ba46-2be0-4723-91a3-5fe0a2b1b85e",
                    "leftValue": "={{ $json.body.events[0].type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        -40
      ],
      "id": "58fb4960-497c-4dbc-81a9-4465e1e8fdd8",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51a9606b-ae3f-474d-973c-d642536d7ce1",
              "name": "message",
              "value": "{   \"type\": \"template\",\n    \"altText\": \"吃了什麼藥\",\n    \"template\": {\n        \"type\": \"buttons\",\n        \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n        \"imageAspectRatio\": \"rectangle\",\n        \"imageSize\": \"cover\",\n        \"title\": \"吃了什麼藥\",\n        \"text\": \"請選擇一種\",\n        \"actions\": [\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了普拿疼\",\n                \"text\": \"吃了普拿疼\",\n                \"data\": \"drug_type=普拿疼\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了伊普\",\n                \"text\": \"吃了伊普\",\n                \"data\": \"drug_type=伊普\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了肌肉鬆弛\",\n                \"text\": \"吃了肌肉鬆弛\",\n                \"data\": \"drug_type=肌肉鬆弛\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"吃了中藥\",\n                \"text\": \"吃了中藥\",\n                \"data\": \"drug_type=中藥\"\n            }\n        ]\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        340
      ],
      "id": "79d01996-1e1a-43c3-bbd1-d20d7fbef465",
      "name": "Set Drug Select"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{{ $json.message }}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        -440
      ],
      "id": "29f944fb-bb16-4594-a9a9-0fdf2bec2d61",
      "name": "Response Drug Select"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "吃藥了",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5ee35c6f-84c5-423c-b446-e74bff580492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "吃藥"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f56d3cde-d045-4911-9bd4-948b3f1a843c",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "=頭痛了",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "頭痛"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd2f8573-6285-49af-9a80-800336668265",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "最近吃藥",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "最近吃藥"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "567a697b-8a03-481a-a95f-e861452a717d",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "採取行動",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "採取行動"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7364b61c-c126-4307-926d-8d87d1893d13",
                    "leftValue": "={{ $json.body.events[0].message.text }}",
                    "rightValue": "頭不痛了",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "頭不痛了"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1620,
        620
      ],
      "id": "c41afbb5-3709-40e8-9aa3-c09e10c498ce",
      "name": "Determine Response Action"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.drug_type }}",
                    "rightValue": "drug",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6b24bb20-5d45-4b84-9c6f-574bdc5f5483"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "response drug number"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d29e35-8353-404a-9668-72bcf7c5ea08",
                    "leftValue": "={{ $json.drug_number }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "responses drug datetime"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98088412-70f4-4e62-8e62-282f6dfae893",
                    "leftValue": "={{ $json.drug_datetime }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "write drug record"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "86e614e5-f263-4a40-a330-485a85c8277f",
                    "leftValue": "={{ $json.pain_level }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "write pain level"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47044a4e-970c-453a-8d07-9b671652194a",
                    "leftValue": "={{ $json.headache_occur }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "headache now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "caf05b0c-9b01-4aed-bfcd-eefba2c2132c",
                    "leftValue": "={{ $json.headache_occur }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "headache select time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7044373-e276-49ba-ba03-c169ab9c0f4d",
                    "leftValue": "={{ $json.headache_occur_tmp }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "done headache select time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf06cf4f-66be-45c9-8fcb-be1ba4590a6d",
                    "leftValue": "={{ $json.action_occur }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "action occur now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d15ce113-b4cb-4c1a-a15d-99d9e502dad0",
                    "leftValue": "={{ $json.action_occur }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "action select time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1833c35e-dda8-4901-ac5c-6368622db30f",
                    "leftValue": "={{ $json.no_headache_occur }}",
                    "rightValue": "now",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no headache now"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9f4235aa-31bf-4562-acc4-49c7d256d426",
                    "leftValue": "={{ $json.no_headache_occur }}",
                    "rightValue": "selecttime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no headache select time"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        120,
        -440
      ],
      "id": "2c66882b-1c00-49b3-9883-b6152888b776",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body.events[0].postback.data;\n\n// Use a single regex to capture key-value pairs for both long (--key=value) and short (-k=value) options\nconst regex = /([a-zA-Z0-9_]+)=([^\\s]*)/gu;\n\nlet matches;\nlet drug_type = null;\nlet drug_type_tmp = null;\nlet drug_number = null;\nlet drug_number_tmp = null;\nlet drug_datetime = null;\nlet pain_level = null;\nlet headache_occur = null;\nlet headache_occur_tmp = null;\nlet action_occur = null;\nlet action = null;\nlet no_headache_occur = null;\n\n// Loop through the matches\nwhile ((matches = regex.exec(input)) !== null) {\n    const key = matches[1] || matches[3]; // Get long option name or short key\n    var value = matches[2] || matches[4]; // Get the associated value\n    value = value.trimEnd()\n    // Assign to the appropriate variable based on the key\n    if (key === 'drug_type') {\n        drug_type = value;\n    } else if (key === 'drug_number') {\n        drug_number = value;\n    } else if (key === 'drug_datetime') {\n      drug_datetime = value;\n    } else if (key === 'drug_type_tmp') {\n      drug_type_tmp = value\n    } else if (key === 'drug_number_tmp') {\n      drug_number_tmp = value\n    } else if (key === 'pain_level') {\n      pain_level = value\n    } else if (key === 'headache_occur') {\n      headache_occur = value\n    } else if (key === 'headache_occur_tmp') {\n      headache_occur_tmp = value\n    } else if (key === 'action_occur') {\n      action_occur = value\n    } else if (key === 'action') {\n      action = value\n    } else if (key === 'no_headache_occur') {\n      no_headache_occur = value\n    }\n}\n\n// Return the results\nreturn { drug_datetime, drug_number, drug_type, drug_type_tmp, drug_number_tmp, pain_level, headache_occur, headache_occur_tmp, action_occur, action, no_headache_occur };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        -240
      ],
      "id": "da957630-6609-4c23-b275-86c64046b2d0",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51a9606b-ae3f-474d-973c-d642536d7ce1",
              "name": "message",
              "value": "={\n    \"type\": \"template\",\n    \"altText\": \"吃了幾顆\",\n    \"template\": {\n        \"type\": \"buttons\",\n        \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n        \"imageAspectRatio\": \"rectangle\",\n        \"imageSize\": \"cover\",\n        \"title\": \"吃了幾顆藥\",\n        \"text\": \"四小時只能吃一顆!\",\n        \"actions\": [\n            {\n                \"type\": \"postback\",\n                \"label\": \"1\",\n                \"text\": \"吃了1顆\",\n                \"data\": \"drug_number=1 drug_type_tmp={{$json.drug_type}}\"\n            },\n            {\n                \"type\": \"postback\",\n                \"label\": \"2\",\n                \"text\": \"吃了2顆\",\n                \"data\": \"drug_number=2 drug_type_tmp={{$json.drug_type}}\"\n            }\n        ]\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        -740
      ],
      "id": "0ef9be72-d0bc-401e-9443-9e9ee0fe4107",
      "name": "Set Drug Number"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b262a70-2015-4722-9bcc-131f673f88ec",
              "name": "=message",
              "value": "={\n  \"type\": \"template\",\n  \"altText\": \"什麼時候吃藥的?\",\n  \"template\": {\n    \"type\": \"buttons\",\n    \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n    \"title\": \"什麼時候吃的\",\n    \"text\": \"要記錄唷\",\n    \"actions\": [\n      {\n        \"type\": \"datetimepicker\",\n        \"label\": \"吃的時間\",\n        \"text\": \"已好好記錄時間OuO\",\n        \"data\": \"drug_datetime=true drug_type_tmp={{$json.drug_type_tmp}} drug_number_tmp={{$json.drug_number}}\",\n        \"mode\": \"datetime\",\n        \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n        \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n        \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n      }\n    ]\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -580
      ],
      "id": "3088ccc5-3608-4879-9212-906ff41078fa",
      "name": "Set Drug DateTime"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467ec0f2-bcfa-4dc3-9a7d-f5f708bcad18",
              "name": "drug_type",
              "value": "={{ $json.drug_type_tmp }}",
              "type": "string"
            },
            {
              "id": "06d005d7-3e7b-412f-9e51-4b90385b5f9e",
              "name": "drug_number",
              "value": "={{ $json.drug_number_tmp }}",
              "type": "string"
            },
            {
              "id": "91bb2ed6-949f-4a0a-a0fc-725d208e0d22",
              "name": "drug_datetime",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime.toDateTime().format('yyyy-MM-ddTHH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -420
      ],
      "id": "0c169ab2-dc72-47e4-a2e8-b866a14d0b09",
      "name": "Set Drug Usage"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
          "mode": "list",
          "cachedResultName": "頭痛 sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "工作表1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "drug_type",
              "displayName": "drug_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drug_number",
              "displayName": "drug_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drug_datetime",
              "displayName": "drug_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        900,
        -420
      ],
      "id": "0a191afd-f24c-414e-a76f-0dca4c91b09f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ih53FiJ3YzQzkiYH",
          "name": "devin.lin.gss Google Sheets "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"頭痛快飛😭 {{ $json.drug_datetime }} 吃了 {{ $json.drug_number }} {{ $json.drug_type }}\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        -420
      ],
      "id": "edf440d3-3943-488a-8763-c8214fc30858",
      "name": "Response Success"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
          "mode": "list",
          "cachedResultName": "頭痛 sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 226063752,
          "mode": "list",
          "cachedResultName": "工作表3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit#gid=226063752"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          },
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -920,
        580
      ],
      "id": "059b5e22-abfd-4f38-bf5d-6f34a809be37",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ih53FiJ3YzQzkiYH",
          "name": "devin.lin.gss Google Sheets "
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
          "mode": "list",
          "cachedResultName": "頭痛 sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": "={{ $json.row_number - 2 }} "
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -600,
        560
      ],
      "id": "5896c8e5-e7d2-4286-b0a8-acccf5f0242f",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ih53FiJ3YzQzkiYH",
          "name": "devin.lin.gss Google Sheets "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').first().json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": {{ $json.formattedOutput.toJsonString() }}\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        560
      ],
      "id": "06fb85a3-8497-4349-9a1b-bcf88bb9703b",
      "name": "Response Success1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1366a377-4f67-4f9f-9304-89d8859906fb",
              "name": "message",
              "value": "={\n  \"type\": \"flex\",\n  \"altText\": \"現在頭有幾分痛\",\n  \"contents\": {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"uri\": \"https://line.me/\"\n        },\n        \"url\": \"https://image1.gamme.com.tw/news2/2016/16/30/qZqYnaadkZ_brKQ.jpg\"\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"md\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"頭痛幾分\",\n            \"weight\": \"bold\",\n            \"size\": \"xl\",\n            \"align\": \"center\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"現在幾分痛\",\n            \"size\": \"md\",\n            \"color\": \"#aaaaaa\",\n            \"align\": \"center\"\n          }\n        ]\n      },\n      \"footer\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"1\",\n                  \"data\": \"pain_level=1 headache_occur_tmp={{ $json.occur_time }}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#91D3FA\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"2\",\n                  \"data\": \"pain_level=2 headache_occur_tmp={{ $json.occur_time }}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#76C9F9\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"3\",\n                  \"data\": \"pain_level=3 headache_occur_tmp={{ $json.occur_time }}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#5CBEF7\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"4\",\n                  \"data\": \"pain_level=4 headache_occur_tmp={{ $json.occur_time }}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#41B3F6\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"5\",\n                  \"data\": \"pain_level=5 headache_occur_tmp={{ $json.occur_time }}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#26A9F4\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"6\",\n                  \"data\": \"pain_level=6 headache_occur_tmp={{ $json.occur_time }}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0B9EF3\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"7\",\n                  \"data\": \"pain_level=7 headache_occur_tmp={{ $json.occur_time }}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0A83CA\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"8\",\n                  \"data\": \"pain_level=8 headache_occur_tmp={{ $json.occur_time }}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#0869A0\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"9\",\n                  \"data\": \"pain_level=9 headache_occur_tmp={{ $json.occur_time }}\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#064E76\",\n                \"height\": \"sm\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"sm\",\n            \"margin\": \"md\",\n            \"contents\": [\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"∞\",\n                  \"data\": \"pain_level=infinite\"\n                },\n                \"style\": \"primary\",\n                \"color\": \"#FF4500\",\n                \"height\": \"sm\"\n              },\n              {\n                \"type\": \"button\",\n                \"action\": {\n                  \"type\": \"postback\",\n                  \"label\": \"help\",\n                  \"data\": \"pain_level=help\"\n                },\n                \"style\": \"primary\",\n                \"height\": \"sm\",\n                \"color\": \"#FF4500\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        -40
      ],
      "id": "caef535d-b5c1-44db-8788-f91099738c1d",
      "name": "Set Ask Headache Level"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ff0b5c5-cbe4-4411-b947-cb0c743e30ee",
              "name": "pain_level",
              "value": "={{ $json.pain_level }}",
              "type": "string"
            },
            {
              "id": "fb60b723-f225-4590-9bc9-5357c4d39250",
              "name": "occurred_time",
              "value": "={{ $json.headache_occur_tmp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -260
      ],
      "id": "012bed11-a597-4b7d-97d9-38f5fe21b6e8",
      "name": "Set Pain Level"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
          "mode": "list",
          "cachedResultName": "頭痛 sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "工作表4",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "pain_level",
              "displayName": "pain_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "occurred_time",
              "displayName": "occurred_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        900,
        -260
      ],
      "id": "e84cf722-fa3e-4a6d-bc4a-a68ed8bb34da",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ih53FiJ3YzQzkiYH",
          "name": "devin.lin.gss Google Sheets "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"在 {{ $json.occurred_time }} 出現了 {{ $json.pain_level }} 級頭痛\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        -260
      ],
      "id": "d67727c0-de75-4dfa-a6f4-fb01aa13ea53",
      "name": "Response Success2"
    },
    {
      "parameters": {
        "jsCode": "let data = $input.all();\nlet formattedOutput = \"\";\nfor (let i = 0; i < data.length; i++) {\n  const entry = data[i].json;\n  console.log(entry)\n  formattedOutput += `在 ${entry.drug_datetime} 吃了 ${\"💊\".repeat(entry.drug_number)} ${entry.drug_type}`;\n  \n  // Add newline if not the last element\n  if (i < data.length - 1) {\n    formattedOutput += '\\n';\n  }\n}\n\nreturn {formattedOutput}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        560
      ],
      "id": "fd3b62f8-687e-4644-8a01-3e3913d3963b",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bd62c6c-fc23-4108-ad16-74c8366cc27b",
              "name": "message",
              "value": "={\n  \"type\": \"template\",\n  \"altText\": \"什麼時候頭痛的?\",\n  \"template\": {\n    \"type\": \"buttons\",\n    \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n    \"title\": \"什麼時候?\",\n    \"text\": \"選擇頭痛時間\",\n    \"actions\": [\n      {\n        \"type\": \"postback\",\n        \"label\": \"就是現在，痛死\",\n        \"data\": \"headache_occur=now\"\n      },\n      {\n        \"type\": \"datetimepicker\",\n        \"label\": \"讓我選時間\",\n        \"data\": \"headache_occur=selecttime\",\n        \"mode\": \"datetime\",\n        \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n        \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n        \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n      }\n    ]\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        480
      ],
      "id": "a42e6e21-13b1-44b3-a2e7-e59b0eab82e9",
      "name": "Set Headache When"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e294c37d-c089-43ea-bacd-0e5e4e089bac",
              "name": "occur_time",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        60
      ],
      "id": "8929be91-1736-4f0c-9e02-bfa5254a52c7",
      "name": "Set Select Occur Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ceb5e266-ed7d-4da9-84eb-2340ebe85914",
              "name": "occur_time",
              "value": "={{ $now.format('yyyy-MM-ddTHH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -100
      ],
      "id": "ebc7fd53-2723-43cb-9602-16b8a72983d1",
      "name": "Set Now Occur Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88ea8471-364f-42c6-a5ad-5241e9cdc82c",
              "name": "message",
              "value": "={\n  \"type\": \"template\",\n  \"altText\": \"採取什麼行動?\",\n  \"template\": {\n    \"type\": \"carousel\",\n    \"columns\": [\n      {\n        \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpJCsi5pKc3UcEZCovDfqo6dJl2T6rVCe39A&s\",\n        \"title\": \"針灸\",\n        \"text\": \"針灸好痠QQ\",\n        \"actions\": [\n          {\n            \"type\": \"postback\",\n            \"label\": \"現在\",\n            \"text\": \"現在正在針灸QQ\",\n            \"data\": \"action=needle action_occur=now\"\n          },\n          {\n            \"type\": \"datetimepicker\",\n            \"label\": \"選擇時間\",\n            \"data\": \"action=needle action_occur=selecttime\",\n            \"mode\": \"datetime\",\n            \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n             \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n             \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n          }\n        ]\n      },\n      {\n        \"thumbnailImageUrl\": \"https://img.toy-people.com/member/162521222828.png\",\n        \"title\": \"沖熱水\",\n        \"text\": \"沖熱水好舒服~\",\n        \"actions\": [\n          {\n            \"type\": \"postback\",\n            \"label\": \"現在\",\n            \"text\": \"剛沖完熱水\",\n            \"data\": \"action=shower action_occur=now\"\n          },\n          {\n            \"type\": \"datetimepicker\",\n            \"label\": \"選擇時間\",\n            \"data\": \"action=shower action_occur=selecttime\",\n            \"mode\": \"datetime\",\n            \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n            \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n            \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n          }\n        ]\n      },\n      {\n        \"thumbnailImageUrl\": \"https://tw.portal-pokemon.com/play/resources/pokedex/img/pm/25ecd635b6ac9803e574229c886ede9a2f1fbd38.png\",\n        \"title\": \"睡覺\",\n        \"text\": \"Zzzzzzzzz\",\n        \"actions\": [\n          {\n            \"type\": \"postback\",\n            \"label\": \"我現在就要睡\",\n            \"text\": \"倒頭就睡\",\n            \"data\": \"action=sleep action_occur=now\"\n          },\n          {\n            \"type\": \"datetimepicker\",\n            \"label\": \"選擇時間\",\n            \"data\": \"action=sleep action_occur=selecttime\",\n            \"mode\": \"datetime\",\n            \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n            \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n            \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n          }\n        ],\n        \"imageBackgroundColor\": \"#EA8B8B\"\n      }\n    ]\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1020,
        740
      ],
      "id": "808662cd-8c6a-4f38-ba7a-1a1a9241d316",
      "name": "Set Action When"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3356d60-de4d-4d63-b680-18661816e4ec",
              "name": "occur_time",
              "value": "={{ $now.format('yyyy-MM-dd') }}T{{ $now.format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        260
      ],
      "id": "1b19d761-cc2f-44d8-bbe2-10b5ec24716a",
      "name": "Set Action Occur Now"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
          "mode": "list",
          "cachedResultName": "頭痛 sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1264830793,
          "mode": "list",
          "cachedResultName": "行動表",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit#gid=1264830793"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "occur_time",
              "displayName": "occur_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        420
      ],
      "id": "f58accbd-2023-4f8b-8485-b7d1b685d855",
      "name": "Write Action",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ih53FiJ3YzQzkiYH",
          "name": "devin.lin.gss Google Sheets "
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21fa4b2e-a105-4f0c-9356-d1427a6af645",
              "name": "action",
              "value": "={{ $('Switch1').item.json.action }}",
              "type": "string"
            },
            {
              "id": "f0b49273-5745-401b-8c0e-6b69e9352c39",
              "name": "occur_time",
              "value": "={{ $json.occur_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        400
      ],
      "id": "3dc2f189-dede-4758-a5a6-dff97a600951",
      "name": "Set Action Insertion Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca3258a0-bb80-42d9-9daa-32c4ba210e41",
              "name": "occur_time",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        480
      ],
      "id": "0f19acc4-acab-4630-aaba-c3dc0bc98c63",
      "name": "Set Action Select Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"希望頭痛可以舒緩🥺\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        440
      ],
      "id": "833b48ef-b20b-4d5d-827a-435b71c77666",
      "name": "Response Action"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3294e08-8654-446d-ba62-1a9d27fcdace",
              "name": "message",
              "value": "={\n    \"type\": \"template\",\n    \"altText\": \"什麼時候不痛的?\",\n    \"template\": {\n      \"type\": \"buttons\",\n      \"thumbnailImageUrl\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3qzd4OIRQQ0Xb5mTB8Cn-Ij75_OSnuktQw&s\",\n      \"title\": \"什麼時候不痛了?\",\n      \"text\": \"恭喜你!\",\n      \"actions\": [\n        {\n          \"type\": \"postback\",\n          \"label\": \"現在不痛了\",\n          \"data\": \"no_headache_occur=now\"\n        },\n        {\n          \"type\": \"datetimepicker\",\n          \"label\": \"選擇時間\",\n          \"data\": \"no_headache_occur=selecttime\",\n          \"mode\": \"datetime\",\n          \"initial\": \"{{$now.format('yyyy-MM-dd')}}T{{$now.format('HH:mm')}}\",\n          \"max\": \"{{$now.plus(1, 'days').format('yyyy-MM-dd')}}T00:00\",\n          \"min\": \"{{$now.minus(10, 'days').format('yyyy-MM-dd')}}T00:00\"\n         }\n      ]\n    }\n  }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        1000
      ],
      "id": "9498da3d-dfc0-4e40-aaa3-d700dd4f1847",
      "name": "Set No Headache When"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b5e6717-e940-4739-b294-4b41f35be790",
              "name": "no_headache_time",
              "value": "={{$now.format('yyyy-MM-dd')}}T{{ $now.format('HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        700
      ],
      "id": "8339cbc8-70e5-4a15-bb7a-828aa93ddb4c",
      "name": "Set No Headache Now"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "887c6e00-e6e0-44a0-92d8-5f293059fd66",
              "name": "occurred_time",
              "value": "={{ $json.no_headache_time }}",
              "type": "string"
            },
            {
              "id": "c1f9b6b1-a41f-4349-ad5f-eed9a0cf2ce6",
              "name": "pain_level",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        700
      ],
      "id": "78e9b959-2a44-4c82-ae76-90d2c0cea4d9",
      "name": "Set No Headache Insert Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
          "mode": "list",
          "cachedResultName": "頭痛 sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "工作表4",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "pain_level",
              "displayName": "pain_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "occurred_time",
              "displayName": "occurred_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1360,
        700
      ],
      "id": "c0d917b5-c465-444d-8204-4878be3731d7",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ih53FiJ3YzQzkiYH",
          "name": "devin.lin.gss Google Sheets "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\":  \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\":[{\n  \"type\": \"text\",\n  \"text\": \"恭喜你在 {{ $json.occurred_time }} 頭不痛啦 😊\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        700
      ],
      "id": "2bfeed66-6d95-4a0a-81d9-685ad7737168",
      "name": "Response Success3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b5e6717-e940-4739-b294-4b41f35be790",
              "name": "no_headache_time",
              "value": "={{ $('Webhook').item.json.body.events[0].postback.params.datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        960
      ],
      "id": "f0fdb4a2-8844-47bd-b315-b3d8eef4d446",
      "name": "Set No Headache Select Time"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Determine Response Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug Select": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Response Action": {
      "main": [
        [
          {
            "node": "Set Drug Select",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Headache When",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Action When",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Headache When",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set Drug Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Drug DateTime",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Drug Usage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Pain Level",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Now Occur Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Select Occur Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Select Occur Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Action Occur Now",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Action Select Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Headache Now",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Headache Select Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug Number": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug DateTime": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drug Usage": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ask Headache Level": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pain Level": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Response Success2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Response Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Headache When": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Select Occur Time": {
      "main": [
        [
          {
            "node": "Set Ask Headache Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Now Occur Time": {
      "main": [
        [
          {
            "node": "Set Ask Headache Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action When": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action Occur Now": {
      "main": [
        [
          {
            "node": "Set Action Insertion Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Action": {
      "main": [
        [
          {
            "node": "Response Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action Insertion Data": {
      "main": [
        [
          {
            "node": "Write Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action Select Time": {
      "main": [
        [
          {
            "node": "Set Action Insertion Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache When": {
      "main": [
        [
          {
            "node": "Response Drug Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache Now": {
      "main": [
        [
          {
            "node": "Set No Headache Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache Insert Data": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Response Success3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Headache Select Time": {
      "main": [
        [
          {
            "node": "Set No Headache Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb24dce5d4aef556d676bc7f743db645da668ad0a28698a3baf0616aa1f0314b"
  }
}