n8n/storage/list_latests_medicine_usage.json
{
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -160,
          -140
        ],
        "id": "d05ffd90-c2ae-4897-a967-5dbe868a9811",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
            "mode": "list",
            "cachedResultName": "頭痛 sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 226063752,
            "mode": "list",
            "cachedResultName": "工作表3",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit#gid=226063752"
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "detectAutomatically",
                "readRowsUntil": "firstEmptyRow"
              }
            },
            "returnFirstMatch": false
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          80,
          -140
        ],
        "id": "259906dc-82e3-47b5-97a5-c462635ec061",
        "name": "Google Sheets1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Ih53FiJ3YzQzkiYH",
            "name": "devin.lin.gss Google Sheets "
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
            "mode": "list",
            "cachedResultName": "頭痛 sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "工作表1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit#gid=0"
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "specifyRange",
                "firstDataRow": "={{ $json.row_number - 2 }} "
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          360,
          -140
        ],
        "id": "c13807f0-bbc7-4ba7-82e9-19becb4e579f",
        "name": "Google Sheets2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Ih53FiJ3YzQzkiYH",
            "name": "devin.lin.gss Google Sheets "
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Google Sheets1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets1": {
        "main": [
          [
            {
              "node": "Google Sheets2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets2": {
        "main": [
          []
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "eb24dce5d4aef556d676bc7f743db645da668ad0a28698a3baf0616aa1f0314b"
    }
  }