n8n/storage/list_latests_medicine_usage.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-360, 100],
      "id": "7db91b2d-e232-44ee-b4cb-26445173ad36",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
          "mode": "list",
          "cachedResultName": "頭痛 sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 226063752,
          "mode": "list",
          "cachedResultName": "工作表3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit#gid=226063752"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          },
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [0, -120],
      "id": "d22a7bb7-8a5e-465f-90cf-e252698b2cf9",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE",
          "mode": "list",
          "cachedResultName": "頭痛 sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOysUaZOE5fcWEMhUS9qdwHwWoS1HkdoY1s9EcFySZE/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": "={{ $json.row_number - 2 }} "
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [280, -120],
      "id": "f3d246f6-5d60-4209-b64e-75cdf60aab23",
      "name": "Google Sheets2"
    },
    {
      "parameters": {
        "collection": "medicine_usage",
        "options": {
          "limit": 3,
          "sort": "{\"drug_datetime\": -1}"
        },
        "query": "={\"user_id\":\"{{$json.body.events[0].source.userId}}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [-80, 100],
      "id": "615ec2cd-c659-4f91-82bd-69e8a4f700c2",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "GMInDmSsKdmQgiBP",
          "name": "headache_mongo_prod"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "7474d84d2b834c864715cc1139cc946616c2310c4f45afb5a0945ca7fc78e0d9"
  }
}
